code {
  padding: 2px 4px;
  border-radius: 3px;
  //background-color: lighten($light-gold, 15%);
}

pre code {
  padding: initial;
  background-color: transparent;
}

pre {
  background: $gray-100;
  // color: $white;
  padding: 1em;
  border-radius: 6px;
}

.views-row {
  article {
    .node__title {
      font-weight: 300;
    }
  }
}
