// Bootstrap
// -----------------------------------------------------------------------------
@import "~bootstrap/scss/functions";
@import "base/variables";

$white:    #fff;
$gray-100: #fff2e8;
$gray-200: #ffdfc4;
$gray-300: #febf8a;
$gray-400: #fe9e4f;
$gray-500: #fd7e14;
$gray-600: #be5f0f;
$gray-700: #7f3f0a;
$gray-800: #3f2005;
$gray-900: #261303;
$black:    #0c0601;

//$light-gold: #EEE0B1;
//$pagination-border-color: #EEE0B1;
//$input-border-color: #EEE0B1;
//$nav-tabs-border-color: #EEE0B1;
//$nav-tabs-link-active-border-color: $light-gold $light-gold $nav-tabs-link-active-bg;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// Base
// -----------------------------------------------------------------------------
@import "base/mixins";
@import "base/functions";
@import "base/helpers";
@import "base/elements";
@import "base/typography";

// Layout
// -----------------------------------------------------------------------------
@import "layout/page.header";
@import "layout/page.content";
@import "layout/page.footer";

// Component
// -----------------------------------------------------------------------------
@import "../components/node/node";

// Other
// -----------------------------------------------------------------------------
@import "block/block";
@import "content/node.page";
@import "content/node.article";