// Article: Teaser
// -----------------------------------------------------------------------------
.article--teaser {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px dashed $gray-600;

}

// Article: Full
// -----------------------------------------------------------------------------
.article--full {

}
